<!DOCTYPE html>
<html lang="en">
<div th:include="components/header"></div>
<body role="document" style="min-height:100%;">
<div th:include="components/nav"></div>

<main role="main">

	<div class="row doc-main">
    	<div class="container" style="width:95%;">
    	
    	
<div class='h2' id='beforeyouarrive'>
Guides
</div>
<ol>
<a target="_blank" href='https://docs.pivotal.io/tiledev/'>PCF Tile Developer Guide</a>
<br></br>
<a target="_blank" href='https://docs.pivotal.io/tiledev/2-2/tile-generator.html'>Tile Generator</a>
<br></br>
<a target="_blank" href='https://github.com/cf-platform-eng/kibosh'>Kibosh</a>
<br></br>
<a target="_blank" href='https://docs.helm.sh/'>Helm</a>
</ol>

<div class='h2' id='beforeyouarrive'> 
Tools
</div>
<ol>
<a target="_blank" href='http://bosh.io/docs/#cli'>BOSH CLI</a>
<br></br>
<a target="_blank" href='https://github.com/cloudfoundry/cli'>CF CLI</a>
<br></br>
<a target="_blank" href='https://docs.pivotal.io/tiledev/2-1/pcf-command.html'>pcf CLI</a>
<br></br>
<a target="_blank" href='https://docs.pivotal.io/runtimes/pks/1-0/installing-pks-cli.html'>PKS CLI</a>
<br></br>
<a target="_blank" href='https://kubernetes.io/docs/tasks/tools/install-kubectl'>Kubernetes CLI</a>
</ol> 

<div class='h2' id='beforeyouarrive'> 
Lab Resources
</div>
<ol>
<a target="_blank" href='https://pd-content.cfapps.io/pe/lab_creds.txt'>Lab Creds</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/cloudfoundry-mongodb-service-broker.zip'>MongoDB Service Broker Zip</a>
<br></br>
<br></br>
<div class='h3' id='beforeyouarrive'> 
PKS Lab Resources
</div>
<a target="_blank" href='https://pd-content.cfapps.io/pe/pks_lab_creds.txt'>Lab Creds</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/pks-lab2-helm.zip'>PKS Helm Lab Zip</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/pks-lab3-kibosh.zip'>PKS Kibosh Lab Zip</a>
<br></br>
<br></br>
<div class='h3' id='beforeyouarrive'> 
BOSH Lab Resources
</div>
<a target="_blank" href='https://pd-content.cfapps.io/pe/bbl_01.tgz'>BBL 1</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/bbl_02.tgz'>BBL 2</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/bbl_03.tgz'>BBL 3</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/bbl_04.tgz'>BBL 4</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/bbl_05.tgz'>BBL 5</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/bbl_06.tgz'>BBL 6</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/bbl_07.tgz'>BBL 7</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/bbl_08.tgz'>BBL 8</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/bbl_09.tgz'>BBL 9</a>
<br></br>
<a target="_blank" href='https://pd-content.cfapps.io/pe/bbl_10.tgz'>BBL 10</a>
<br></br>
</ol> 

<!--  	
<div class='h2' id='beforeyouarrive'>
Applications
</div>
<ol>
<a target="_blank" href='https://github.com/kubernetes/kubernetes/blob/master/examples/simple-nginx.md'>Nginx</a>
<br></br>
<a target="_blank" href='https://github.com/kubernetes/charts/tree/master/stable/sugarcrm'>SugarCRM</a>
<br></br>
<a target="_blank" href='https://github.com/kubernetes/charts/tree/master/stable/suitecrm'>SuiteCRM</a>
<br></br>
<a target="_blank" href='https://github.com/Anchormen/elasticsearch-kubernetes/tree/master/kubernetes'>ElasticSearch</a>
<br></br>
<a target="_blank" href='https://github.com/kubernetes/charts/tree/master/stable/spark'>Apache Spark</a>
<br></br>
<a target="_blank" href='https://github.com/kubernetes/examples/blob/master/staging/javaee/README.md'>Wildfly</a>
<br></br>
</ol>   	
-->  	
    	
    	 	<br></br>
  	   			    		
  				
		</div>
	</div>
</main>

<div th:include="components/footer"></div>
 
</body>
</html>